* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 25px;
}

ul {
  margin: 5px;
}

.Login, .UserInterface {
  margin: 30px;
}

li {
  margin-bottom: 5px;
}
@media (min-width: 900px){
  .LeftBlock {
    float: left;
    width: 50%;
  }

  .RightBlock {
    float: left;
    width: 50%;
  }
}

.WelcomeTitle {
  font-size: 45px;
  margin-bottom: 25px;
}

.LoginButton {
  font-size: 25px;
  color: #ffffff;
  background-color: #25ce76;
  padding: 13px 28px 13px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

.LoginButton:hover, .ButtonSubmit:hover, .ClearButton:hover, .TrackButton:hover,
.LocalPlaylistInfo, .UploadLocalPLaylist:hover, .DeleteLocalPlaylist:hover {
  background-color: #26e280;
}

.ButtonSubmit, .TrackButton, .ClearButton,
.LocalPlaylistInfo, .UploadLocalPLaylist, .DeleteLocalPlaylist {
  color: #ffffff;
  padding: 5px 15px 5px;
  background-color: #25ce76;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  margin: 5px;
}

.DeleteTrack {
  text-align: center;
  color: #666666;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 8px 3px;
  border-radius: 50%;
  border: none;
  float: right;
}

.PickedTrack {
  margin: 10px 0px 10px;
}

.DeleteTrack:hover {
  background-color: #666666;
  color: #aaaaaa;
}

.Track {
  margin-bottom: 5px;
}

.TrackInfo {
  margin-bottom: 15px;
}

.TrackList {
  margin-top: 50px;
}
